/main.pdf
/main.log
/main.synctex.gz
/PredykcjaDefektowNaPoziomieMetod.aux
/PredykcjaDefektowNaPoziomieMetod.blg
/PredykcjaDefektowNaPoziomieMetod.lof
/PredykcjaDefektowNaPoziomieMetod.log
/PredykcjaDefektowNaPoziomieMetod.lot
/PredykcjaDefektowNaPoziomieMetod.out
/PredykcjaDefektowNaPoziomieMetod.synctex.gz
/PredykcjaDefektowNaPoziomieMetod.toc
